#search {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F6F6F6;
    z-index: 22;
}
#search:before{
    content: '';
    position: absolute;
    left: 13.5%;
    top: 17px;
    width: 15px;
    padding-top: 14px;
    display: inline-block;
    background: url(../img/bg.png) no-repeat -56px -256px;
    background-size: 100px 300px;
}

.searchInput {
    border: 1px solid dodgerblue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 2em;
    width: 72%;
    padding-left: 34px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: block;
    margin: 10px auto;
}

.swiper-container {
    height: 200px;
    /*border-radius: 5px;*/
}

.swiper-container img {
    width: 100%;
    height: 190px;
}

#swiper {
    /*padding: 0 11px;*/
}

header {
    margin-top: 53px;
}

.navList {
    padding: 11px;
}

.navList a {
    text-align: center;
    background-color: #ff697a;
    line-height: 3em;
    font-size: 1em;
    height: 50%;
    position: relative;
    display: block;
    color: white;
    box-sizing: border-box;
}

.navList .row:nth-child(2) .col a {
    background-color: #3d98ff;
}

.navList .row:nth-child(3) .col a {
    background-color: #fc9720;
}

.navList .row {
    height: 6em;
    margin-bottom: 5px;
}

.navList .col {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    height: 100%;
}

.navList .row .col:first-child {
    border-radius: 5px;
}

.navList .row .col:first-child a {
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.navList .row .col:last-child a:first-child {
    border-top-right-radius: 5px;
}

.navList .row .col:last-child a:last-child {
    border-bottom-right-radius: 5px;
}

.navList .row .col a + a {
    border-top: 1px solid white;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.col-33, .col-34 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%
}
.click-scale {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}
footer{
    text-align: center;
}

footer .col:first-child a{
    position: relative;
    line-height: 41px;
}

footer .col:first-child a:before {
    content: "";
    position: absolute;
    left: 36%;
    top: -21px;
    width: 18px;
    padding-top: 14px;
    display: inline-block;
    background: url(../img/bg.png) no-repeat -56px -141px;
    background-size: 100px 300px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #FFF;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:end:increment {
    background-color: transparent;
}

::-webkit-scrollbar-button:start:decrement {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece:vertical:start {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece:vertical:end {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    background: rgb(191, 191, 191);
}


